---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout title="O2ER — Observatoire pour l’Équité et l’Intégrité en Recherche">
  <Fragment slot="nav"><NavBar /></Fragment>

  <h1>O2ER</h1>
  <p>
    L’Observatoire autonome pour l’équité et l’intégrité en recherche (O₂ER) est né de la nécessité de défendre la recherche publique contre les dérives institutionnelles, managériales et politiques qui compromettent la liberté, la justice et la rigueur scientifique. <br>
    <br>
    O₂ER agit comme un contre-pouvoir citoyen et scientifique, indépendant des structures officielles et des logiques hiérarchiques. L'observatoire ne se définit ni vis-à-vis des syndicats, ni vis-à-vis d’aucune autre instance institutionnelle existante. Son indépendance est la condition de sa légitimité.
  </p>

  <Fragment slot="footer"><Footer /></Fragment>
</BaseLayout>
