---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavBar from "../../components/NavBar.astro";
import Footer from "../../components/Footer.astro";
---

<BaseLayout title="Rapports — Ressources O₂ER">
  <Fragment slot="nav"><NavBar /></Fragment>

  <h1>Rapports et textes de loi</h1>
  <ul>
    <li>
      <a href="https://www.legifrance.gouv.fr/codes/texte_lc/LEGITEXT000006071190/" target="_blank">
        Code de la Recherche (Legifrance)
      </a>
    </li>
  
    <li>
      <a href="https://www.cnrs.fr/comitenational/cs/recommandations/Rapport_Entraves_vf.pdf" target="_blank">
        Rapport du Comité national du CNRS concernant les entraves à la recherche
      </a>
    </li>

    <li>
      <a href="https://www.senat.fr/rap/r25-009-1/r25-009-17.html#fn200" target="_blank">
        XX=XY, féminiser les sciences, dynamiser la société - Rapport du Sénat
      </a>
    </li>
  </ul>

  <Fragment slot="footer"><Footer /></Fragment>
</BaseLayout>
