---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavBar from "../../components/NavBar.astro";
import Footer from "../../components/Footer.astro";
---

<BaseLayout title="Actions — O₂ER">
  <Fragment slot="nav"><NavBar /></Fragment>

  <h1>Analyses et actions</h1>
  <p>Cette section regroupe les dossiers, actions collectives et analyses produites par l’O₂ER.<br>
    <br> Elle sera mise à jour au fur et à mesure des actions. <br>
    <br> Restez connectés !</p>

  <Fragment slot="footer"><Footer /></Fragment>
</BaseLayout>
