<nav>
  <a href="/o2er/">Accueil</a>
  <a href="/o2er/mission">Mission</a>
  <a href="/o2er/equipe">Équipe</a>
  <a href="/o2er/actions/">Actions</a>
  <a href="/o2er/ressources/">Ressources</a>
  <a href="/o2er/contact">Contact</a>
</nav>
