name: Deploy Astro site to GitHub Pages

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: withastro/action@v2
        with:
          path: .
          node-version: 18
          deploy: true
          dist: dist
